# Default ignored files
/shelf/
/workspace.xml
# IDEA
.idea
#ignore Address book and instructions
addressBook.txt
JavaApplicationProjectInstructions.pdf

#This project was written my me, Stuart Page, and if anyone copies it so help me god I'll be pissed.